{# Hauptsnippet welches für die Darstellung einer 'Einrichtungsrechnung' verantwortlich ist. #}

{% with positionen=einrichtungsrechnung.positionen.all %}
{% include 'abrechnung/pdf/_einrichtung_kopf.html' %}
<hr>
{% include 'abrechnung/pdf/_einrichtung_uebersicht.html' %}


{% if einrichtungsrechnung.einrichtung.konfiguration.zusammenfassungs_tabelle  %}
  {% include 'abrechnung/pdf/_anwesenheit_zusammenfassung.html' %}
{% endif %}

{% for einrichtungsposition in positionen %}
  <div style="page-break-before:always;"></div>
  {% include 'abrechnung/pdf/_schuelerposition_kopf.html' %}
  {% include 'abrechnung/pdf/_schuelerposition_liste.html' %}
{% endfor %}
{% endwith %}
